<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="UbiquitousDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Mike\ProjectDropBox\Dropbox\Everything\UbiquitousDesign\UbiquitousDB.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
