<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <customErrors defaultRedirect="GenericError.htm" mode="On">
      <error statusCode="404" redirect="Redirect.aspx"/>
      <error statusCode="401" redirect="OhDear.aspx"/>
      <error statusCode="403" redirect="OhDear.aspx"/>
      <error statusCode="408" redirect="OhDear.aspx"/>
    </customErrors>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>

